<div class="panel panel-default">
  <div class="panel-body">
    <form>
      Name:
      <input type="text" data-ng-model="vm.myInfo.name" name="name" required><br><br>
      Email:
      <input type="email" data-ng-model="vm.myInfo.email" name="email" required><br><br>
      Phone:
      <input  data-ng-model="vm.myInfo.phone" name="phone" pattern="^[0-9+]+$"><br><br>
      <button data-ng-click="vm.addToMyAccount(vm.myInfo)">Save</button>
    </form>

  </div>
</div>